/.lake
.lake
/.vscode
.vscode
/.toml
.toml
/.txt
.txt
/.json
.json
lake-manifest.json
/lake-manifest.json
fwIn.txt
fwOut.txt
wdErr.txt
wdOut.txt
wdIn.txt
/.git
.git
/.github
.github
/.idea
.idea
/lean-toolchain
lean-toolchain
/.lake-leanpkg
.lake-leanpkg
nppBackup
/.nppBackup
txtcopies
/txtcopies
txtcopies/PeanoNatAdd.lean.txt
txtcopies/PeanoNatAxioms.lean.txt
txtcopies/PeanoNatDiv.lean.txt
txtcopies/PeanoNatLib.lean.txt
txtcopies/PeanoNatMaxMin.lean.txt
txtcopies/PeanoNatMul.lean.txt
txtcopies/PeanoNatOrder.lean.txt
txtcopies/PeanoNatStrictOrder.lean.txt
txtcopies/PeanoNatSub.lean.txt
